* {
  padding: 0;
  margin: 0;
}
.container {
  width: 60%;
  margin: 0 auto;
  padding: 8rem 4rem;
}
.container-table {
  box-shadow: 0 3rem 6rem rgba(6, 8, 14, 0.6);
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.table-search > span,
.table-filler-show > span {
  font-size: 1.2rem;
}
.table-search > input,
.table-filler-show > select {
  font-size: 0.9rem;
  padding: 0.125rem 0.15rem;
}
.container-body {
  padding: 0 1rem 1rem;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
}
.data-table td,
.data-table th {
  padding: 0.5rem 1rem;
  text-align: left;
  line-height: 1.5rem;
}
th {
  border-bottom: 1px solid #b2b2b2;
}
td {
  border-bottom: 1px solid #ddd;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.data-table tr:nth-child(even) > td:first-child {
  background-color: #f1f1f1;
}
.data-table tr:nth-child(odd) > td:first-child {
  background-color: #fafafa;
}
.data-table tr:hover {
  background-color: #f6f6f6;
}
#data-table__header > tr:first-child:hover {
  background-color: #fff;
}
.pagination-btn {
  border: none;
  background-color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.pagination-btn:hover {
  border: 1px solid #111;
  color: #fff;
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

.container-footer {
  padding: 0 1rem 1rem;
  display: flex;
  justify-content: space-between;
}
.header-table__sort {
  position: relative;
}
.header-table__sort::before {
  content: "▾";
  position: absolute;
  top: 30%;
  right: 0;
  opacity: 0.4;
}
.header-table__sort::after {
  content: "▴";
  position: absolute;
  right: 0;
  top: 10%;
  opacity: 0.4;
}

.header-table__sort.sorting_asc::after {
  opacity: 1;
}
.header-table__sort.sorting_dsc::before {
  opacity: 1;
}

.selected {
  background-color: #eee;
  border: 1px solid rgb(136, 135, 135);
}

.btn-disable {
  cursor: auto;
  pointer-events: none;
  opacity: 0.3;
}

.footer-right {
  font-size: 1.05rem;
  line-height: 1.2rem;
  font-weight: 400;
  padding-top: 0.5rem;
}
