html {
  box-sizing: border-box;
}
/* Include font */
@font-face {
  font-family: "font primary";
  src: url("../font/HKGroteskPro-Regular.woff2");
}
@font-face {
  font-family: "font secondary";
  src: url("../font/HKGroteskPro-Medium.woff2");
}
* {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}
button {
  cursor: pointer;
}

ul {
  list-style: none;
}
body {
  font-family: "font primary", serif;
  font-weight: 400;
  color: #161c2d;
  line-height: 1.5;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #506690;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}
.mt-05 {
  margin-top: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-one-half {
  margin-bottom: 1.5rem;
}
.btn {
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #335eea;
  text-align: center;
  font-weight: 500;
  background-color: rgba(51, 94, 234, 0.1);
  transition: all 200ms ease-in-out;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1.5rem rgba(21, 28, 45, 0.1);
}
.btn-primary {
  color: #fff;
  background-color: #335eea;
}
.btn-primary:hover {
  background-color: #294bbb;
}

.btn-white {
  background-color: #fff;
}
.btn-white:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  transform: translateY(-3px);
  background-color: #fff;
}

.btn-download {
  color: #fff;
  background-color: #42ba96;
}
.btn-with-icon > i {
  margin-left: 1rem;
}
.welcome-actions > button:last-child {
  margin-left: 0.5rem;
}
.welcome-actions > button:last-child:hover {
  background-color: #e1e7fc;
}

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar-toggle {
  display: none;
  cursor: pointer;
  color: #869ab8;
}

.menu {
  display: flex;
}
.menu-link {
  padding: 1rem 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  font-size: 1.1rem;
  color: #506690;
}
.menu-link:hover {
  color: #335eea;
}

.container {
  max-width: 65rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.dropdown-active {
  position: relative;
}
.dropdown-list {
  position: absolute;
  left: 50%;
  top: 150%;
  z-index: 2;
  transform: translate(-50%, 2rem);
  min-width: 20rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #eef0f2;
}
.dropdown-item-content {
  color: #506690;
  font-size: 0.85rem;
  margin-top: 0.4rem;
  display: block;
}

.dropdown-item-menu {
  margin-top: 0.4rem;
}
.dropdown-item-icon {
  height: 2.25rem;
  width: 2.25rem;
}

.dropdown-item-content {
  margin-left: 1rem;
}

.dropdown-item-heading {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #335eea;
  font-weight: 500;
  margin-left: 15px;
  letter-spacing: 0.08em;
}

.dropdown-item-menu > a {
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  margin-bottom: 0.75rem;
}

.dropdown-item-menu > a > span {
  color: #335eea;
  font-size: 0.8rem;
}

.dropdown-item-menu > a:hover {
  color: #335eea;
}

.dropdown-active:hover > .dropdown-list {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.dropdown-left > .dropdown-item,
.dropdown-right > .dropdown-item {
  padding: 0.5rem;
  border: 0;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 50%;
  cursor: auto;
}

.dropdown-left,
.dropdown-right {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 16px 0 0 12px;
}

#navbarLanding + .dropdown-list {
  display: flex;
  min-width: 42rem;
  padding: 0;
  overflow: hidden;
}
.navbar-btn {
  font-weight: 600;
}
.dropdown-image {
  background-image: url("../images/photo-3.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  color: #fff;
}
.dropdown-image > * {
  position: relative;
}
.dropdown-heading {
  font-size: 1.2rem;
  font-weight: 500;
}
.dropdown-content {
  font-size: 0.925rem;
}
.dropdown-image::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #335eea;
  opacity: 0.7;
}

.dropdown-btn-view {
  margin-top: 1rem;
}
.dropdown-bigsize {
  height: 305px;
}

#navbarPage + .dropdown-list {
  display: flex;
  min-width: 35rem;
  padding: 1.5rem 2rem;
}

#navbarAccount + .dropdown-list {
  min-width: 14rem;
  padding: 1rem;
}

#navbarAccount + .dropdown-list > .dropdown-item {
  border: 0;
  padding: 0.5rem 1rem;
  position: relative;
}
.dropdown-menu {
  position: absolute;
  left: calc(100% + 1rem);
  top: -1rem;
  min-width: 14rem;
  padding: 1rem 1rem;
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(33, 44, 72, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}

.dropdown-menu.show {
  display: block;
}
.dropdown-link {
  display: block;
  color: #506690;
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  transition: color 200ms ease-in-out;
}

.dropdown-link:hover {
  color: #335eea;
}

#navbarAccount + .dropdown-list > .dropdown-item:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 0.85rem;
  color: #506690;
}

.dropdown-toggle:hover {
  color: #335eea;
}

.dropdown-item-ver {
  color: #335eea;
  background-color: rgba(51, 94, 234, 0.1);
  border-radius: 50rem;
  margin-left: auto;
  display: inline-block;
  padding: 0.15rem 0.75rem;
  font-size: 0.75rem;
}
.welcome {
  padding-top: 6em;
}
.welcome-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-left {
  flex-basis: 50%;
}
.welcome-right {
  flex-basis: 50%;
  order: 1;
  padding: 0 1.25rem;
}
.welcome-right > img {
  display: block;
  max-width: 120%;
}
.welcome-title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.56rem;
  margin-bottom: 1rem;
}
.welcome-title > span {
  color: #335eea !important;
}
.welcome-description {
  margin-bottom: 2.4rem;
  color: #9fadc3;
  font-size: 1.35rem;
  line-height: 2.1rem;
}

.features {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.features-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.features-items {
  flex-basis: calc(100 / 3);
}

.padding-left-right {
  padding: 0 1.25rem;
}

.feature-icon {
  margin-bottom: 1rem;
}

.feature-icon > img {
  width: 3rem;
  height: 3rem;
}
.feature-heading {
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
.feature-description {
  color: #869ab8;
  line-height: 1.7rem;
  font-size: 1.07rem;
}

.brand {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid #f1f4f8;
  border-bottom: 1px solid #f1f4f8;
}

.brand-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.brand-item {
  flex-basis: calc(100% / 6 - 1.5rem);
}
.brand-item > img {
  min-width: 4rem;
}

.about {
  padding-top: 6rem;
  background-image: linear-gradient(180deg, #f9fbfd 0, #fff);
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 6rem;
}
.about-form {
  opacity: 0;
  flex-basis: 45%;
  overflow: hidden;
  border-radius: 8px;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0.5rem 1.5rem rgba(19, 23, 36, 0.1);
}
.about-form:hover {
  transform: translateY(-6px);
  box-shadow: 0 3rem 6rem rgba(6, 8, 14, 0.1);
}

.about-form .form-inner {
  background-color: #fff;
  padding: 2.5rem 2rem;
}
.about-form .form-scope {
  position: relative;
  width: 100%;
  padding: 1rem 0 0.5rem;
}
.form-scope > p {
  opacity: 0;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

input.value-invalid ~ p {
  opacity: 1;
  color: red;
  padding-top: 0.5rem;
}
.about-form .form-scope > input {
  border: none;
  width: 98%;
  padding: 2px;
  border-bottom: 1px solid #f1f4f8;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: inherit;
  word-spacing: 0;
  outline: 0;
  transition: 200ms linear;
}
.about-form .form-scope > input::placeholder {
  color: transparent;
}
.about-form .form-scope > input:focus {
  border-color: #335eea;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.about-form .form-scope > input:focus + label,
.about-form .form-scope > input:not(:placeholder-shown) + label {
  transform: translateY(0);
  top: -1rem;
  font-size: 0.8rem;
}

.about-form .form-scope > label {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  color: #969cb8;
  font-size: 1rem;
  font-weight: 400;
  transition: 200ms linear;
  padding: 1rem 0;
  pointer-events: none;
  /* outline: none; */
}
.about-form .form-scope > label + small {
  display: block;
  transform: translateY(-0.5px);
  font-size: 1rem;
}
.about-form .btn-submit {
  width: 100%;
  margin-top: 1.2rem;
  height: 56px;
}
.about-form .btn-submit:hover {
  background-color: #389e80;
}

.about-content {
  flex-basis: 48%;
  opacity: 0;
}

.about-heading {
  font-size: 1.9rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.about-heading > .typewriter {
  color: #42ba9d;
}
.about-heading > span {
  color: #335eea;
}

.about-description {
  font-size: 1.15rem;
  line-height: 1.9rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: #869cc1;
}

.about-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.about-list-right {
  padding: 0 2rem;
}
.about-list span {
  background-color: rgba(66, 186, 150, 0.1);
  color: #42ba96;
  border-radius: 50%;
  padding: 0.8rem;
  font-size: 0.8rem;
  margin-right: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 0.2rem;
  width: 0.2rem;
}

.about-list li {
  font-size: 1.05rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  color: #42ba9d;
}

.about-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.about-bottom-left,
.about-bottom-right {
  flex-basis: 50%;
  opacity: 0;
}

.about-item {
  display: flex;
}
.about-item > img {
  height: 3rem;
  width: 3rem;
}

.about-item-content {
  margin-left: 24px;
}
.about-item-content > h4 {
  color: #161c2d;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 0.2rem;
  font-weight: 400;
}
.about-item-content > p {
  color: #869ab8;
  font-size: 1.06rem;
  line-height: 1.9rem;
  margin-bottom: 32px;
}
.about-image-inner {
  position: relative;
  width: 120%;
}

.about-shape {
  position: absolute;
  top: -30px;
  bottom: 0;
  transform: translateX(-52%) scale(1.1);
  width: 100%;
  left: 50%;
}

.about-image {
  perspective: 1500px;
  transform-style: preserve-3d;
  perspective-origin: 0;
}
.about-image > img {
  border-radius: 1rem;
  backface-visibility: hidden;
  transform: rotateY(-35deg) rotateX(15deg);
  box-shadow: 0 0.2rem 3rem rgba(47, 55, 63, 0.5);
}
.testimonials {
  padding: 8rem 0 0;
}
.carousel {
  /* overflow: hidden; */
}
.carousel-inner {
  height: fit-content;
}
.carousel-item {
  padding: 4rem 2.5rem;
  text-align: center;
  box-sizing: border-box;
}
.carousel-item__logo {
  width: 9rem;
  object-fit: cover;
  margin: 0 auto;
}

.testimonials-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 12rem;
}
.testimonials-heading {
  font-size: 1.95rem;
  line-height: 2.6rem;
  font-weight: 300;
  color: #161c2d;
  margin-bottom: 1.4rem;
}
.testimonials-slogan {
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: #869ab8;
  margin-bottom: 4rem;
}
.testimonials-content {
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(59, 66, 73, 0.2);
  z-index: 99;
}
.testimonials-item {
  flex: 1;
}
.testimonials-item__left {
  padding: 4rem 2.5rem;
  box-sizing: border-box;
}
.testimonials-image {
  width: 100%;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.carousel-slogan {
  margin: 3.5rem 0;
  font-size: 1.25rem;
  color: #161c2d;
  text-align: center;
  line-height: 2rem;
  padding: 0 1rem;
}
.carousel-author {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #869ab8;
  letter-spacing: 0.95px;
  text-transform: uppercase;
}
.testimonials-back,
.testimonials-next {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #335eea;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.testimonials-back {
  position: absolute;
  bottom: 43%;
  left: -2.5%;
}

.testimonials-next {
  position: absolute;
  right: -2.5%;
  bottom: 43%;
}
.shape {
  position: relative;
}
.shape-inner {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.shape-inner > img {
  transform-origin: top center;
  width: 100%;
  transform: scale(2);
}
.shape-bg {
  margin-top: -18rem;
}

.stats {
  padding-top: 10rem;
  background-color: #f1f4f8;
}
.stats-content {
  display: flex;
  align-items: center;
}
.stats-content__left .stats-content__right {
  flex-basis: 50%;
}
.stats-content__left {
  padding: 0 1.3rem;
}
.stats-content__right {
  padding: 0 1.3rem;
}
.stats-img {
  width: 100%;
  height: auto;
}

.stats-content__left > .stats-heading {
  font-size: 2rem;
  line-height: 2.65rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
.stats-content__left > .stats-heading > span {
  color: #335eea;
  letter-spacing: -0.3px;
}
.stats-content__left > .stats-description {
  font-size: 1.2rem;
  line-height: 1.85rem;
  margin-bottom: 2rem;
  color: #506690;
}

.stats-numbers {
  display: flex;
}
.stats-item:first-child {
  padding-right: 1.5rem;
}
.stats-item:last-child {
  padding-left: 1.5rem;
}
.stats-item:nth-child(2) {
  padding: 0 1.5rem;
}
.stats-item__count {
  font-size: 1.3rem;
  line-height: 1.85rem;
  font-weight: 300;
  letter-spacing: -0.3px;
}
.stats-item__text {
  font-size: 1.1rem;
  line-height: 1.85rem;
  font-weight: 400;
  color: #506690;
}
.pricing {
  padding-top: 8rem;
  background-color: #f1f4f8;
}

.pricing-content {
  text-align: center;
  padding: 0 11.5rem;
}
.pricing-heading {
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: -0.3px;
  margin-bottom: 16px;
}
.pricing-desciption {
  font-size: 1.35rem;
  color: #506690;
  line-height: 2.15rem;
  margin-bottom: 16px;
}
.pricing-swap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.pricing-swap > span {
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #869ab8;
  font-weight: 300;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
  margin: 0 0.8rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pricing-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.pricing-item__left {
  flex-basis: 50%;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0.5rem 1.5rem rgba(33, 44, 72, 0.1);
  height: fit-content;
  z-index: 99;
  width: 100%;
  opacity: 0;
}

.pricing-item-content {
  padding: 3rem 2rem;
  text-align: center;
}
.pricing-item__badge {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.3rem;
  letter-spacing: 0.96px;
  color: #335eea;
  background-color: #eaeffd;
  padding: 0.3rem 0.75rem;
  border-radius: 40px;
  font-weight: 600;
  height: 26px;
  width: 96px;
}
.pricing-item__price {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.pricing-item__price > #numberBilling {
  font-size: 3.75rem;
  line-height: 4.6rem;
  letter-spacing: -1.3px;
}
.pricing-item__price > span:first-child,
.pricing-item__price > span:last-child {
  font-size: 2rem;
  line-height: 2.3rem;
  color: #161c2d;
  margin-top: 0.5rem;
}

.pricing-item__price > span:last-child {
  align-self: center;
  margin-top: 1.2rem;
}

.pricing-item__unit {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #869ab8;
  margin-bottom: 4rem;
}
.pricing-item__list {
  text-align: start;
}
.pricing-item__list > li {
  font-size: 1.05rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}
.pricing-item__list > li:last-child {
  margin: 0;
}
.pricing-item__list > li > i {
  background-color: rgba(66, 186, 150, 0.1);
  color: #42ba96;
  border-radius: 50%;
  padding: 0.3rem;
  margin-right: 1rem;
}
.btn-get-item {
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.8rem;
  border-radius: 0;
  padding: 1rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.btn-get-item:hover {
  background-color: #2b50c7;
  transform: translateY(0);
}
.pricing-item-center {
  padding: 0 3.75rem;
}

.pricing-item__right {
  height: fit-content;
  background-color: #fff;
  flex-basis: 50%;
  opacity: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 1;
}
.pricing-item__description {
  font-size: 1.35rem;
  line-height: 2.1rem;
  color: #869ab8;
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding: 0 2.6rem;
}
.btn-contact {
  width: 100%;
  border-radius: 0;
  color: #506690 !important;
  background-color: #d9e2ef;
  font-size: 1.1rem;
  line-height: 1.8rem;
  border-bottom-right-radius: 12px;
}
.btn-contact:hover {
  transform: translateY(0);
  background-color: #d9e2ef;
  box-shadow: none;
}
.faq {
  background-color: #1b2a4e;
  padding-top: 15rem;
}
.faq-inner {
  display: flex;
  padding: 10rem 1.75rem 0 1.75rem;
}
.faq-left,
.faq-right {
  flex-basis: 50%;
}

.faq-item {
  display: flex;
}
.faq-item > .faq-icon {
  font-size: 0.6rem;
  width: 40px;
  height: 40px;
}
.faq-item > .faq-icon > i {
  color: #fff;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #389e80;
}
.faq-content {
  margin-left: 2rem;
}
.faq-content__heading {
  font-size: 1.2rem;
  line-height: 1.75rem;
  letter-spacing: -0.2px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.faq-content__description {
  font-size: 1.07rem;
  line-height: 1.7rem;
  color: #869ab8;
  font-weight: 400;
  margin-bottom: 6rem;
}
.cia {
  background-color: #1b2a4e;
}
.cia-content {
  text-align: center;
  padding: 3rem 0;
}
.cia-start {
  text-transform: uppercase;
  color: #506690;
  border-radius: 24px;
  background-color: #203055;
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
  line-height: 1.2rem;
  letter-spacing: 0.96px;
}
.cia-heading {
  margin: 1rem 0;
  font-size: 2.75rem;
  line-height: 3.2rem;
  letter-spacing: -0.86px;
  font-weight: 300;
  color: #fff;
}
.cia-description {
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: #869ab8;
  margin-bottom: 3rem;
  padding: 0 10rem;
}
.cia-buy {
  background-color: #42ba96;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75rem;
  width: 9rem;
  height: 3.625rem;
}
.cia-content > .cia-buy:hover {
  box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1),
    0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  transform: translate3d(0, -3px, 0);
}

.footer {
  padding: 6rem;
  background-color: #f1f4f8;
}
.footer-content {
  display: flex;
}
.footer-left {
  flex-basis: 20%;
  padding: 0 1.25rem;
}
.footer-logo {
  margin-bottom: 0.5rem;
}
.footer-slogan {
  font-size: 1.1rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}
.footer-social__list {
  color: #869ab8;
  font-size: 1.5rem;
}
.footer-social__list > i {
  margin-right: 0.75rem;
}
.footer-right {
  display: flex;
  flex-basis: 70%;
  font-weight: 400;
}
.footer-right-inner {
  display: flex;
}
.footer-item {
  flex-basis: 25%;
  padding: 0 1.25rem;
}
.footer-item__heading {
  font-size: 0.75rem;
  line-height: 1.15rem;
  letter-spacing: 0.96px;
  margin-bottom: 0.5rem;
}
.footer-item__list > li {
  font-size: 1.1rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
  color: #869ab8;
}

@media only screen and (max-width: 991px) {
  .menu {
    display: none;
  }
  .navbar-toggle {
    display: block;
    font-size: 1.5rem;
    padding: 0.25rem 0.75rem;
  }
  .navbar-btn {
    display: none;
  }
  .container {
    max-width: 720px;
  }
  .welcome-left > .welcome-title {
    font-size: 2.25rem;
    line-height: 2.6rem;
  }
  .welcome-left > .welcome-description {
    line-height: 1.85rem;
    font-size: 1.2rem;
  }
  .welcome-right > img {
    width: 105%;
  }
  .feature-heading {
    font-size: 1.125rem;
  }
  .about-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .about-description {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
  .about-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
  }
  .about-list-right {
    padding: 0;
  }
  .about-bottom-right {
    flex-basis: 45%;
  }
  .about-bottom-left {
    flex-basis: 52%;
  }
  .about-item-content > h4 {
    font-size: 1.06rem;
  }

  .testimonials-header {
    text-align: center;
    padding: 0 3rem;
  }
  .testimonials-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .testimonials-slogan {
    padding: 0 2rem;
  }
  .carousel-item {
    padding: 2rem 1.25rem;
    text-align: center;
    box-sizing: border-box;
  }
  .carousel-slogan {
    margin: 1.5rem 0;
  }

  .stats-content__left > .stats-heading {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.24px;
  }

  .stats-content__left > .stats-description {
    font-size: 1.2rem;
  }
  .stats-content__right {
    flex-basis: 40%;
  }
  .stats-content__left {
    flex-basis: 60%;
  }
  .stats-item__count {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .stats-item__text {
    font-size: 1.1rem;
    line-height: 1.85rem;
  }
  .pricing-content {
    padding: 0 3.85rem;
  }

  .pricing-heading {
    font-size: 1.875rem;
    line-height: 2.45rem;
  }
  .pricing-desciption {
    font-size: 1.185rem;
    line-height: 1.9rem;
  }
  .pricing-item-center {
    padding: 0;
  }
  .pricing-item__description {
    font-size: 1.185rem;
    padding: 0;
  }
  .pricing-item__price > #numberBilling {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.8px;
  }
  .pricing-item__price > span:first-child,
  .pricing-item__price > span:last-child {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .cia-content .cia-heading {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: -0.64px;
  }
  .cia-description {
    padding: 0 6rem;
  }

  .faq-content__heading {
    font-size: 1.07rem;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
  }
  .footer-right > .footer-right-inner:first-child {
    margin-bottom: 3rem;
  }
  .footer-item {
    padding-right: 0 3rem;
  }
  .footer-right-inner {
    display: flex;
    justify-content: space-around;
  }
  .footer-left {
    flex-basis: 25%;
    padding: 0 1.25rem;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .welcome {
    padding-top: 1rem;
  }
  .welcome-inner {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .welcome-right > img {
    width: 100%;
    margin-bottom: 2rem;
  }
  .features {
    padding: 3rem;
    margin: 0;
  }
  .features-inner {
    display: flex;
    flex-direction: column;
  }
  .features-item {
    padding: 0;
    margin-bottom: 2rem;
  }
  .padding-left-right {
    padding: 0;
  }
  .mb-2 {
    margin-bottom: 2rem;
  }
  .brand-inner {
    flex-wrap: wrap;
  }
  .brand-item {
    padding: 1rem;
  }
  .brand-item > img {
    min-width: 9rem;
  }
  .about-top {
    flex-direction: column-reverse;
  }
  .about-description {
    padding-right: 2rem;
  }
  .about-content {
    margin-bottom: 1.25rem;
  }
  .about-bottom {
    flex-direction: column;
  }
  .about-image-inner {
    width: 100%;
  }
  .testimonials {
    padding-top: 8rem;
  }
  .testimonials-header {
    padding: 0;
  }
  .testimonials-slogan {
    padding: 0;
    margin-bottom: 40px;
  }
  .testimonials-content {
    flex-direction: column;
  }
  .testimonials-back,
  .testimonials-next {
    bottom: 14%;
  }
  .testimonials-image {
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
  }
  .stats {
    padding-top: 8rem;
  }
  .stats-content {
    flex-direction: column-reverse;
  }
  .stats-content > .stats-content__right {
    margin-bottom: 2rem;
  }
  .pricing {
    padding-top: 4rem;
  }
  .pricing-content {
    padding: 0 1rem;
  }
  .pricing-bottom {
    margin: 0 2rem;
  }
  .pricing-item {
    flex-direction: column;
    /* margin: 0 2rem; */
  }
  .pricing-item__right {
    margin-top: 2rem;
  }
  .pricing-item__badge {
    margin-bottom: 1rem;
  }
  .pricing-item__description {
    margin: 0;
  }
  .faq-inner {
    flex-direction: column;
    padding-top: 6rem;
    margin: 0 5.5rem;
  }
  .faq-content__description {
    margin-bottom: 2rem;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-right-inner {
    justify-content: space-between;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .features {
    padding: 3rem 0;
  }
  .brand {
    padding: 2rem 0;
  }
  .about {
    padding: 2rem 0;
  }
  .about-top {
    margin-bottom: 3rem;
  }
  .testimonials {
    padding: 2rem 0;
  }
  .pricing {
    padding: 4rem 0;
  }
  .pricing-bottom {
    margin: 0;
  }
  .faq-inner {
    padding-top: 2rem;
    margin: 0;
  }
  .faq-content {
    margin-left: 1rem;
  }
  .cia-description {
    padding: 0;
  }
  .footer {
    padding: 3rem 0;
  }

  .footer-right > .footer-right-inner:first-child {
    margin-bottom: 2rem;
  }
  .footer-right-inner:last-child {
    margin-top: 0px;
  }
}

.small-menu-items {
  padding: 1.5rem 1.5rem 0;
  border-bottom: 1px solid #f1f4f8;
}
.menu-title {
  pointer-events: none;
  font-size: 1.06rem;
  line-height: 1.75rem;
  font-weight: 400;
}
.menu-dropdown {
  display: flex;
  margin-top: 1.5rem;
}
.flex-column {
  flex-direction: column;
}
.menu-scope-heading {
  text-transform: uppercase;
  color: #335eea;
  font-size: 0.75rem;
  line-height: 1.2rem;
  letter-spacing: 0.96px;
  padding-bottom: 0.5rem;
  display: block;
  font-weight: 400;
}
.menu-scope {
  width: 50%;
}
.menu-item-content {
  display: block;
  background-color: transparent;
  color: #506690;
  font-weight: 400;
  font-size: 0.95rem;
  text-align: inherit;
  margin-top: 0.45rem;
}
.menu-item-content > span {
  color: #335eea;
}
.menu-item-scope > .menu-item-content:last-child {
  margin-bottom: 1.5rem;
}
.menu-dropdown > .menu-dropdown-item:nth-child(2) {
  padding: 1rem 0;
  border-top: 1px solid #f1f4f8;
  border-bottom: 1px solid #f1f4f8;
}
.menu-dropdown-item {
  display: flex;
}
.dropdown-item__icon {
  width: 40px;
  height: 40px;
  margin-right: 0.75rem;
}
.dropdown-item__heading {
  font-size: 0.75rem;
  line-height: 1.2rem;
  letter-spacing: 0.96px;
  color: #335eea;
  text-transform: uppercase;
  font-weight: 500;
}
.dropdown-item__text {
  font-size: 0.95rem;
  list-style: 1.2rem;
}
.menu-dropdown-item > .dropdown-item__ver {
  display: flex;
  align-items: center;
  color: #335eea;
  background-color: rgba(51, 94, 234, 0.1);
  border-radius: 50rem;
  margin-left: auto;
  padding: 0.15rem 0.75rem;
  font-size: 0.75rem;
  height: 20px;
}
.dropdown-items {
  margin-top: 1.5rem;
}

.dropdown-menu-item {
  font-size: 0.95rem;
  line-height: 1.5rem;
}
.dropdown-item-scope {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown-items > .dropdown-menu-item:last-child {
  margin-bottom: 1.5rem;
}
.menu-item-content:hover,
.dropdown-menu-item:hover {
  color: #335eea;
  cursor: pointer;
}

.dropdown-child-content {
  padding: 1rem 0.5rem;
}

.dropdown-child-content {
  display: none;
}

.dropdown-click > .dropdown-child-content {
  display: block;
}

.btn-small-screen > .btn-smc {
  width: 100%;
  border-radius: 0;
}
.menuSmallScreen {
  position: fixed;
  background-color: #fff;
  width: 97%;
  height: 95vh;
  z-index: 999;
  left: 0;
  margin: 0 auto;
  overflow: scroll;
  right: 0;
  top: 1%;
}
.menu-active {
  display: block;
  animation: fadeIn ease-out 0.3s;
}

.menu-hidden {
  opacity: 0;
  position: absolute;
  z-index: -999;
  right: 100;
  top: 0;
}
.menu-close {
  border: none;
  font-size: 1.25rem;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #506690;
  font-weight: 100;
}

@keyframes fadeIn {
  from {
    transform: translate(50px, -50px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translate(-50px, 50px);
    opacity: 1;
  }
  to {
    transform: translate(0);
    opacity: 0;
    z-index: -999;
    position: relative;
  }
}

/* Hoat anh Cuon */
@keyframes right-left {
  from {
    transform: translateX(150px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes left-right {
  from {
    transform: translateX(-150px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bottom-top {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.reveal {
  position: relative;
}

.reveal.reveal-bottom-top-150ms.active {
  animation: bottom-top ease 1.5s;
  opacity: 1;
}
.reveal.reveal-bottom-top-200ms.active {
  animation: bottom-top ease 2s;
  opacity: 1;
}

.reveal.reveal-right-left.active {
  animation: right-left ease 1.5s;
  opacity: 1;
}
.reveal.reveal-left-right.active {
  animation: left-right ease 1.5s;
  opacity: 1;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.scroll-left-right {
  animation-name: scroll-left-right;
  animation-duration: 1s;
  overflow: hidden;
}

@keyframes scroll-left-right {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
